body {
    background-color: powderblue;
  }
  h1 {
    color: white;
    align-content: center;
  }
  p {
    color: red;
  }

footer {
    background-color: darkblue;
    color: white;
}

.top-bar {
    background-color: whitesmoke;
    height: 50px;
    width: auto;
}